<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <div class="pa-4">
                            <MudAlert Severity="Severity.Warning">You are not authorized to access this page.</MudAlert>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="pa-4">
                    <MudAlert Severity="Severity.Error">Sorry, there's nothing at this address.</MudAlert>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
